annotated-types==0.7.0
av==12.2.0
bio==1.7.1
biopython==1.84
biothings-client==0.3.1
certifi==2024.7.4
charset-normalizer==3.3.2
click==8.1.7
click-default-group==1.2.4
cloup==3.0.5
contourpy==1.2.1
cycler==0.12.1
decorator==5.1.1
fonttools==4.53.1
glcontext==2.5.0
gprofiler-official==1.0.0
idna==3.7
isosurfaces==0.1.2
Jinja2==3.1.4
kiwisolver==1.4.5
lxml==5.2.2
manim==0.18.1
manim-slides==5.1.7
ManimPango==0.5.0
mapbox-earcut==1.0.1
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.9.1
mdurl==0.1.2
moderngl==5.10.0
moderngl-window==2.4.6
multipledispatch==1.0.0
mygene==3.2.2
networkx==3.3
numpy==1.26.4
packaging==24.1
pandas==2.2.2
pillow==10.4.0
platformdirs==4.2.2
pooch==1.8.2
pycairo==1.26.1
pydantic==2.8.2
pydantic-extra-types==2.9.0
pydantic_core==2.20.1
pydub==0.25.1
pyglet==2.0.16
Pygments==2.18.0
pyparsing==3.1.2
pyrr==0.10.3
python-dateutil==2.9.0.post0
python-pptx==0.6.23
pytz==2024.1
QtPy==2.4.1
requests==2.32.3
rich==13.7.1
rtoml==0.11.0
scipy==1.14.0
screeninfo==0.8.1
six==1.16.0
skia-pathops==0.8.0.post1
srt==3.5.3
svgelements==1.9.6
tqdm==4.66.4
typing_extensions==4.12.2
tzdata==2024.1
urllib3==2.2.2
watchdog==4.0.1
XlsxWriter==3.2.0
